* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
    color: #fff;
}

.navbar-logo img {
    height: 40px;
}

.navbar-links-container {
    display: inline-block;
    margin: 0 auto;
    padding: 8px 30px 8px 30px;
    opacity: 0px;
    gap: 16px;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding: 8px 10px 8px 10px;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    color: #f2f1f5;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 8px 10px 8px;
}

.navbar-links a:hover {
    background-color: #1F1F1F;
    color: #fff;
    border-radius: 10px;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.icon-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.icon-button:hover {
    color: #ddd;
}

.carousel_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25rem 1.25rem 0rem 1.25rem;
    margin: 0 auto;
    max-width: 80%;
    max-height: 90%;
    background-image: url('../images/captain.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 0;
    z-index: 1;
}

.carousel_content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(59, 58, 58, 0));
    z-index: -1;
    border-radius: inherit;
}

.content-p {
    color: #fff;
}

.carousel-buttons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

button {
    // padding: 10px 20px;
    background-color: black;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 14px;
}

.play-button {
    background-color: red;
}

button:hover {
    background-color: #1F1F1F;
}

.carousel-navigation-container {
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.arrow {
    background-color: black;
    border: none;
    color: #fff;

    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.arrow:hover {
    background-color: #1F1F1F;
}

.indicator {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;

}

.line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: background-color 0.3s;
    gap: 0px;
    border-radius: 100px 0px 0px 0px;
    opacity: 0px;
}

.line.active {
    background-color: #d30808;
}

@media (max-width: 830px) {

    /* Бургер-меню для мобильной версии */
    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
        padding: 10px;
    }

    .burger-menu span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        transition: 0.3s;
    }

    .navbar-links-container,
    .navbar-links,
    .navbar-icons {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding: 50px 20px;
        min-height: 75vh;
        background-image: url('../images/captain.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .content p {
        display: none;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
        margin-top: 20px;
    }

    .buttons>button {
        margin: 5px 0;
    }

    .buttons .icon-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .play-button {
        width: fit-content;
    }

    .content h1 {
        width: 55vw;
        font-size: 2.5em;
        line-height: 1em;
        width: 80%;

    }

    .content p {
        width: 45vw;
        font-size: 1em;
        line-height: 1em;
    }

    .navigation-container {
        display: none;
    }

}