.category-section {

    max-width: 80%;
    margin: auto;

    h2 {
        font-size: 24px;
        margin-top: 200px;
        margin-bottom: 28px;
        color: #fff;
    }

    p {
        font-size: 14px;
        color: $text-color-light;
        margin-bottom: 90px;
    }
}

.category-card {
    background-color: $card-background-color;
    border-radius: 10px;
    margin: 0 10px;
    padding: 20px;
    max-width: 285px;
    color: $text-color;
    transition: transform $transition-duration ease;

    &:hover {
        transform: scale($hover-scale);
    }

    h3 {
        margin-top: 10px;
        font-size: 18px;
    }
}

.category-images {
    height: 140px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;

    &.action {
        background-image: url('/assets/images/action_pic.png');
    }

    &.adventure {
        background-image: url('/assets/images/adventure_pic.png');
    }

    &.comedy {
        background-image: url('/assets/images/comedy_pic.png');
    }

    &.drama {
        background-image: url('/assets/images/drama_pic.png');
    }

    &.horror {
        background-image: url('/assets/images/horror_pic.png');
    }
}


.category-section {
    padding: 2rem;

    .carousel-wrapper {
        position: relative;
        overflow: hidden; // Скрыть лишние части карусели только на мобильных
        // width: 100%;
    }

    .category-carousel {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        transition: transform 0.3s ease;
        will-change: transform;

        @media screen and (max-width: 1410px) {
            display: flex; // Меняем на flex для карусели
        }
    }


    .carousel-arrow {
        position: absolute;

        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        z-index: 10;

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }
    }

    // Мобильные и планшеты
    @media screen and (max-width: 1400px) {
        .category-card {
            flex: 0 0 calc(100% / 3); // 3 карточки на экране для планшетов
        }

        @media screen and (max-width: 768px) {
            .category-card {
                flex: 0 0 calc(100% / 2); // 2 карточки на экране
            }
        }

        @media screen and (max-width: 480px) {
            .category-card {
                flex: 0 0 100%; // 1 карточка на экране
            }
        }
    }

    // Отключение карусели на десктопах
    @media screen and (min-width: 1200px) {
        .carousel-wrapper {
            overflow: visible; // Скрытие лишних частей не нужно
        }

        .carousel-arrow {
            display: none; // Скрыть стрелки
        }

        .category-card {
            flex: 0 0 auto; // Оставляем карточки с фиксированной шириной
        }
    }
}