.support {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;

}

.support__container {
    border: 1px rgb(124, 35, 109) solid;
    width: 600px;
    padding: 20px;
}

.support__container-pretittle {
    /* font-family: var(--font-family); */
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    color: #fff;
}

.support__container-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #999999;
}

.container {
    border: 1px solid #141414;
    border-radius: 12px;
    padding: 50px;
    width: 976px;
    /* height: 739px; */
    /* background:#0F0F0F; */
    flex-wrap: wrap;
    display: flex;
}

label {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}

.name {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 110px;
    border: 1px rgb(251, 255, 0) solid;
    padding: 5px 5px;
}

.surname {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 110px;
}

.message {
    display: flex;
    flex-direction: column;
    /* width: 876px; */
    height: 163px;
    border: 1px red solid;
    background-color: #141414;
    /* padding: 20px; */
}

.registration-form {
    /* display: grid;
grid-template-columns: 1fr 1fr; */
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

//сделай индивидуальное название класса для своих кнопок
// button {
//     background-color: #E50000;
//     color: #fff;
//     border-radius: 8px;
//     padding: 18px 24px;
//     width: 173px;
//     height: 63px;
//     border: none;
//     font-size: 15px;
//     cursor: pointer;
//             }

input {
    border: 1px solid #141414;
    border-radius: 8px;
    padding: 20px;
    width: 413px;
    height: 37px;
    background: #262626;
}

textarea {
    background: #262626;
    border-radius: 8px;
    padding: 20px;
    width: 876px;
    height: 163px;
    border: 1px solid #141414;
}

.checkbox {
    max-width: 400px;
    border: 1px solid #141414;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.box1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.box2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.support__container-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #999999;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}