//общие переменные
$background-color: #1E1E1E;
$font-family: 'Manrope', sans-serif;
$text-color: #fff;
$text-color-light: #bbb;

//переменные хэдера, главного экрана и карусели

$card-background-color: #222;
$hover-scale: 1.05;
$carousel-width: 100%;
$card-width: 295px;
$card-height: 342px;
$transition-duration: 0.3s;
$primary-color: #E50914;
$header-background-color: #1A1A1A;
$search-background-color: #333;
$category-background-color: #333;
$hero-overlay-color: rgba(0, 0, 0, 0.5);