@import 'vars';
@import 'header';
@import 'maincarousel';
@import 'carousel';
@import 'devices';
@import 'questions';
@import 'dropdown';
@import 'footer';
@import 'support';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: inherit;
}